.heroBg {
    background-image: url(../assets/hero/bg.jpg);
    background-position: center;
    background-size: 100%;

}

.hero {
    max-width: 2000px; //1350
    margin-left: auto;
    margin-right: auto;
}