.heroBg {
    background-image: url(../assets/hero/bg.jpg);
    background-position: center;
    background-size: cover;

}

.hero {
    max-width: 1350px; //1350
    margin-left: auto;
    margin-right: auto;
}