.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    z-index: 1000;
    overflow-y: auto;
    padding: 2rem;
    margin-top: 50px;
    z-index: 0;

    a {
        color: white;
    }

    .moviePosters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        .movie-poster {
            min-width: 300px;
            max-width: 300px;
        }
    }
}


.movie-poster-transition {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.movie-poster-transition.visible {
    opacity: 1;
    transform: translateY(0);
}


.paginations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;

    .paginations-previous {
        display: flex;
        order: 1;
    }

    .paginations-next {
        display: flex;
        order: 3;
    }

    .paginations-list {
        display: flex;
        order: 2;
    }
}